# Assign for entire repo
*                         @souvikmishra @vishwajeetraj11

# Assign to JavaScript files
# *.js                      @your-org/frontend

# Assign to a directory
# /docs                     @your-org/docs

