@tailwind base;
@tailwind components;
@tailwind utilities;

.hideInputNumberAppearance::-webkit-inner-spin-button,
.hideInputNumberAppearance::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.hideInputNumberAppearance {
	appearance: textfield;
	-moz-appearance: textfield;
	/* Firefox */
}
